{'moneda': '$', 'opcionbacktest': '4', 'seleccionbacktest': '4) Semanal con transicion a Mensual'} #TTHH sin entradas en LT

{'moneda': 'E', 'opcionbacktest': '4', 'seleccionbacktest': '4) Semanal con transicion a Mensual'}#TTHH sin entradas en LT

{'moneda': '$', 'opcionbacktest': '4', 'seleccionbacktest': '4) Semanal con transicion a Mensual', 'analizardesde': '2000-01-01'} #TTHH sin entradas en LT

{'moneda': '$', 'opcionbacktest': '4', 'seleccionbacktest': '4) Semanal con transicion a Mensual', 'analizardesde': '2000-01-01', 'todohistorico': False} #TTHH sin entradas en LT

{'moneda': 'E', 'opcionbacktest': '4', 'seleccionbacktest': '4) Semanal con transicion a Mensual', 'analizardesde': '2000-01-01'}#TTHH sin entradas en LT

{'moneda': '$', 'opcionbacktest': '4', 'seleccionbacktest': '4) Semanal con transicion a Mensual', 'inversionmaxima': 2500} #TTHH sin entradas en LT

{'moneda': 'E', 'opcionbacktest': '4', 'seleccionbacktest': '4) Semanal con transicion a Mensual', 'inversionmaxima': 2500}#TTHH sin entradas en LT

{'moneda': '$', 'opcionbacktest': '4', 'seleccionbacktest': '4) Semanal con transicion a Mensual', 'analizardesde': '2000-01-01', 'inversionmaxima': 2500} #TTHH sin entradas en LT

{'moneda': '$', 'opcionbacktest': '4', 'seleccionbacktest': '4) Semanal con transicion a Mensual', 'analizardesde': '2000-01-01', 'todohistorico': False, 'inversionmaxima': 2500} #TTHH sin entradas en LT

{'moneda': 'E', 'opcionbacktest': '4', 'seleccionbacktest': '4) Semanal con transicion a Mensual', 'analizardesde': '2000-01-01', 'inversionmaxima': 2500}#TTHH sin entradas en LT

{'moneda': '$', 'opcionbacktest': '4', 'seleccionbacktest': '4) Semanal con transicion a Mensual', 'inversionmaxima': 2500, 'rentabilidad0': False} #TTHH sin entradas en LT

{'moneda': 'E', 'opcionbacktest': '4', 'seleccionbacktest': '4) Semanal con transicion a Mensual', 'inversionmaxima': 2500, 'rentabilidad0': False}#TTHH sin entradas en LT

{'moneda': '$', 'opcionbacktest': '4', 'seleccionbacktest': '4) Semanal con transicion a Mensual', 'analizardesde': '2000-01-01', 'inversionmaxima': 2500, 'rentabilidad0': False} #TTHH sin entradas en LT

{'moneda': '$', 'opcionbacktest': '4', 'seleccionbacktest': '4) Semanal con transicion a Mensual', 'analizardesde': '2000-01-01', 'todohistorico': False, 'inversionmaxima': 2500, 'rentabilidad0': False} #TTHH sin entradas en LT

{'moneda': 'E', 'opcionbacktest': '4', 'seleccionbacktest': '4) Semanal con transicion a Mensual', 'analizardesde': '2000-01-01', 'inversionmaxima': 2500, 'rentabilidad0': False}#TTHH sin entradas en LT

{'moneda': '$', 'opcionbacktest': '4', 'seleccionbacktest': '4) Semanal con transicion a Mensual', 'EntradaLT': True} #TTHH con entradas en LT

{'moneda': 'E', 'opcionbacktest': '4', 'seleccionbacktest': '4) Semanal con transicion a Mensual', 'EntradaLT': True} #TTHH con entradas en LT

{'moneda': '$', 'opcionbacktest': '4', 'seleccionbacktest': '4) Semanal con transicion a Mensual', 'analizardesde': '2000-01-01', 'EntradaLT': True} #TTHH con entradas en LT

{'moneda': '$', 'opcionbacktest': '4', 'seleccionbacktest': '4) Semanal con transicion a Mensual', 'analizardesde': '2000-01-01', 'todohistorico': False, 'EntradaLT': True} #TTHH con entradas en LT

{'moneda': 'E', 'opcionbacktest': '4', 'seleccionbacktest': '4) Semanal con transicion a Mensual', 'analizardesde': '2000-01-01', 'EntradaLT': True}#TTHH con entradas en LT

