{'moneda': '$', 'opcionbacktest': '4', 'seleccionbacktest': '4) Semanal con transicion a Mensual', 'inversionmaxima': 3500, 'analizardesde': '2000-01-01', 'todohistorico': False} # Columna C
{'moneda': 'E', 'opcionbacktest': '4', 'seleccionbacktest': '4) Semanal con transicion a Mensual', 'inversionmaxima': 3500, 'analizardesde': '2000-01-01', 'todohistorico': False} # Columna C
{'moneda': '$', 'opcionbacktest': '4', 'seleccionbacktest': '4) Semanal con transicion a Mensual', 'inversionmaxima': 3500, 'analizardesde': '2000-01-01', 'todohistorico': False, 'rentabilidad0': False} # Columna D
{'moneda': 'E', 'opcionbacktest': '4', 'seleccionbacktest': '4) Semanal con transicion a Mensual', 'inversionmaxima': 3500, 'analizardesde': '2000-01-01', 'todohistorico': False, 'rentabilidad0': False} # Columna D
{'moneda': '$', 'opcionbacktest': '4', 'seleccionbacktest': '4) Semanal con transicion a Mensual', 'inversionmaxima': 3500, 'analizardesde': '2000-01-01', 'todohistorico': False, 'EntradaLT': True} # Columna E
{'moneda': 'E', 'opcionbacktest': '4', 'seleccionbacktest': '4) Semanal con transicion a Mensual', 'inversionmaxima': 3500, 'analizardesde': '2000-01-01', 'todohistorico': False, 'EntradaLT': True} # Columna E
{'moneda': '$', 'opcionbacktest': '4', 'seleccionbacktest': '4) Semanal con transicion a Mensual', 'inversionmaxima': 3500, 'analizardesde': '2000-01-01', 'todohistorico': False, 'rentabilidad0': False, 'EntradaLT': True} # Columna F
{'moneda': 'E', 'opcionbacktest': '4', 'seleccionbacktest': '4) Semanal con transicion a Mensual', 'inversionmaxima': 3500, 'analizardesde': '2000-01-01', 'todohistorico': False, 'rentabilidad0': False, 'EntradaLT': True} # Columna F
{'moneda': '$', 'opcionbacktest': '3', 'seleccionbacktest': '3) Todo Semanal', 'inversionmaxima': 3500, 'analizardesde': '2000-01-01', 'todohistorico': False} # Columna G
{'moneda': 'E', 'opcionbacktest': '3', 'seleccionbacktest': '3) Todo Semanal', 'inversionmaxima': 3500, 'analizardesde': '2000-01-01', 'todohistorico': False} # Columna G
{'moneda': '$', 'opcionbacktest': '3', 'seleccionbacktest': '3) Todo Semanal', 'inversionmaxima': 3500, 'analizardesde': '2000-01-01', 'todohistorico': False, 'rentabilidad0': False} # Columna H
{'moneda': 'E', 'opcionbacktest': '3', 'seleccionbacktest': '3) Todo Semanal', 'inversionmaxima': 3500, 'analizardesde': '2000-01-01', 'todohistorico': False, 'rentabilidad0': False} # Columna H
{'moneda': '$', 'opcionbacktest': '3', 'seleccionbacktest': '3) Todo Semanal', 'inversionmaxima': 3500, 'analizardesde': '2000-01-01', 'todohistorico': False, 'EntradaLT': True} # Columna I
{'moneda': 'E', 'opcionbacktest': '3', 'seleccionbacktest': '3) Todo Semanal', 'inversionmaxima': 3500, 'analizardesde': '2000-01-01', 'todohistorico': False, 'EntradaLT': True} # Columna I
{'moneda': '$', 'opcionbacktest': '3', 'seleccionbacktest': '3) Todo Semanal', 'inversionmaxima': 3500, 'analizardesde': '2000-01-01', 'todohistorico': False, 'rentabilidad0': False, 'EntradaLT': True} # Columna J
{'moneda': 'E', 'opcionbacktest': '3', 'seleccionbacktest': '3) Todo Semanal', 'inversionmaxima': 3500, 'analizardesde': '2000-01-01', 'todohistorico': False, 'rentabilidad0': False, 'EntradaLT': True} # Columna J
{'moneda': '$', 'opcionbacktest': '5', 'seleccionbacktest': '5) Todo Mensual', 'inversionmaxima': 3500, 'analizardesde': '2000-01-01', 'todohistorico': False} # Columna K
{'moneda': 'E', 'opcionbacktest': '5', 'seleccionbacktest': '5) Todo Mensual', 'inversionmaxima': 3500, 'analizardesde': '2000-01-01', 'todohistorico': False} # Columna K
{'moneda': '$', 'opcionbacktest': '5', 'seleccionbacktest': '5) Todo Mensual', 'inversionmaxima': 3500, 'analizardesde': '2000-01-01', 'todohistorico': False, 'rentabilidad0': False} # Columna L
{'moneda': 'E', 'opcionbacktest': '5', 'seleccionbacktest': '5) Todo Mensual', 'inversionmaxima': 3500, 'analizardesde': '2000-01-01', 'todohistorico': False, 'rentabilidad0': False} # Columna L
{'moneda': '$', 'opcionbacktest': '5', 'seleccionbacktest': '5) Todo Mensual', 'inversionmaxima': 3500, 'analizardesde': '2000-01-01', 'todohistorico': False, 'EntradaLT': True} # Columna M
{'moneda': 'E', 'opcionbacktest': '5', 'seleccionbacktest': '5) Todo Mensual', 'inversionmaxima': 3500, 'analizardesde': '2000-01-01', 'todohistorico': False, 'EntradaLT': True} # Columna M
{'moneda': '$', 'opcionbacktest': '5', 'seleccionbacktest': '5) Todo Mensual', 'inversionmaxima': 3500, 'analizardesde': '2000-01-01', 'todohistorico': False, 'rentabilidad0': False, 'EntradaLT': True} # Columna N
{'moneda': 'E', 'opcionbacktest': '5', 'seleccionbacktest': '5) Todo Mensual', 'inversionmaxima': 3500, 'analizardesde': '2000-01-01', 'todohistorico': False, 'rentabilidad0': False, 'EntradaLT': True} # Columna N
{'moneda': '$', 'opcionbacktest': '3', 'seleccionbacktest': '3) Todo Semanal', 'inversionmaxima': 3500, 'analizardesde': '2000-01-01', 'todohistorico': False, 'MMesemanal': 30} # Columna O
{'moneda': 'E', 'opcionbacktest': '3', 'seleccionbacktest': '3) Todo Semanal', 'inversionmaxima': 3500, 'analizardesde': '2000-01-01', 'todohistorico': False, 'MMesemanal': 30} # Columna O
{'moneda': '$', 'opcionbacktest': '5', 'seleccionbacktest': '5) Todo Mensual', 'inversionmaxima': 3500, 'analizardesde': '2000-01-01', 'todohistorico': False, 'MMemensual': 7} # Columna P
{'moneda': 'E', 'opcionbacktest': '5', 'seleccionbacktest': '5) Todo Mensual', 'inversionmaxima': 3500, 'analizardesde': '2000-01-01', 'todohistorico': False, 'MMemensual': 7} # Columna P
{'moneda': '$', 'opcionbacktest': '3', 'seleccionbacktest': '3) Todo Semanal', 'inversionmaxima': 3500, 'analizardesde': '2000-01-01', 'todohistorico': False, 'MMesemanal': 30, 'rentabilidad0': False} # Columna Q
{'moneda': 'E', 'opcionbacktest': '3', 'seleccionbacktest': '3) Todo Semanal', 'inversionmaxima': 3500, 'analizardesde': '2000-01-01', 'todohistorico': False, 'MMesemanal': 30, 'rentabilidad0': False} # Columna Q
{'moneda': '$', 'opcionbacktest': '5', 'seleccionbacktest': '5) Todo Mensual', 'inversionmaxima': 3500, 'analizardesde': '2000-01-01', 'todohistorico': False, 'MMemensual': 7, 'rentabilidad0': False} # Columna R
{'moneda': 'E', 'opcionbacktest': '5', 'seleccionbacktest': '5) Todo Mensual', 'inversionmaxima': 3500, 'analizardesde': '2000-01-01', 'todohistorico': False, 'MMemensual': 7, 'rentabilidad0': False} # Columna R